* {
    box-sizing: border-box;
}

.pw{
    background-color: pink;
    color: white;
}

.bgb{
    background-color: #0000005b;
}

.y{
    color: yellow;
}

.p2{
    color: #ace43a;
}

.p3{
    color:aqua;
}

.border1{
    width:1200px;
    height:100px;
    background-color: white;
    padding:10px;
    border:10px;
    border-style:solid;
    border-color:orange;
}

.w{
    color: white;
}