* {
    box-sizing: border-box;
}

.pw{
    background-color: pink;
    color: white;
}

.bgb{
    background-color: #0000005b;
}

.y{
    color: yellow;
}

.p2{
    color: #ace43a;
}

.p3{
    color:aqua;
}

.border1{
    background-color: white;
    width: 500px;
    border: 
}

.w{
    color: white;
}